<div class="py-5 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.9887272011315!2d77.06877185075064!3d28.509986882380296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19370cfcd425%3A0xd26d20d9006ab820!2sSapient+-+Gurgaon+Infospace+Unit+1!5e0!3m2!1sen!2sin!4v1523852492134" width="550vw" height="550vh" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <h1>Contact us</h1>
          <p>We would love to hear from you</p>
          <form>
            <div class="form-group">
              <label for="InputName">Your name</label>
              <input type="text" class="form-control" id="InputName" placeholder="Your name"> </div>
            <div class="form-group">
              <label for="InputEmail1">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email"> </div>
            <div class="form-group">
              <label for="Textarea">Write here</label>
              <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>