@media (min-width: 768px) {
	.sidenav {
	    width: 260px;
	    position: fixed;
	    background-color: #f2f2f2;
	}
	.main {
    	margin-left: 260px;
	}
}

.sidebar-text {
	font-size: 15px;
}

.sidenav-back-color {
	background-color: #f2f2f2;
	width: 100%;
}
