<div class="wishlist-header">
  <img src="../../../../../assets/wishcart_jumbo.png" class="img-fluid">
  <div class="wishlist-header-content d-flex align-items-center justify-content-center">
    SUBSCRIPTION LIST
  </div>
</div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center mb-2" *ngFor="let subscriptionlist of subscribeServiceList">
          <!-- Content -->
        <div class="card vendor-card" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Vendor Name</h5>
              <p class="card-text">some description</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"  aria-pressed="false" autocomplete="off" [routerLink]="['/', 'vendorInfo',subscriptionlist.vendorId]">
                See More
              </button>
              <button type="button" class="btn btn-primary bg-dark" data-toggle="button" aria-pressed="false"  autocomplete="off" (click)="deleteSubscriptions(subscriptionlist.userId,subscriptionlist.vendorId)">
                Delete
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>