footer {
    font-family: 'Poiret One';
    background: black;
    padding-left: 8rem;
}

a {
    color: crimson
}

.text-color {
    color: white
}

.text-heading {
    text-decoration: bold;
    text-transform: capitalize;
    font-family: 'Holtwood One SC', serif;
    color: white;
    font-size: 18px;
}

.text-lead {
    font-family: 'Julius Sans One', sans-serif;
    color: lavender;
    font-size: 13px;
}

.social-media {
    display: inline-flex;
    list-style: none;
    padding-left: 0px;
}

.social-media > li {
    padding: 1rem;
}

.links, .help, .categories {
    padding-left: 0px;
    list-style: none
}

.nm-t{
    margin-top: -35px;
}