<!-- Footer -->
<footer class="container-fluid pt-3 pl-5">
  <div class="row p-3">
    <!-- Get in touch part-->
    <div class="col-sm-12 col-md-3 col-lg-3">
      <h4 class="text-heading"> Get in touch </h4>
      <p class="text-lead">
        Any questions? Let us know on mail: offershopper@gmail.com, or call us on (+91) 9078563412.
      </p>
      <ul class="social-media">
          <li><a href="https://www.fb.com"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>

    <!-- Categories -->
    <div class="col-sm-12 col-md-4 col-lg-2">
        <ul class="categories">
            <h4 class="text-heading"> Categories </h4>
            <li class="text-lead">Men</li>
            <li class="text-lead">Women</li>
            <li class="text-lead">Hotels</li>
            <li class="text-lead">Spas</li>
            <li class="text-lead">Restraunts</li>
        </ul>
    </div>

    <!-- Links -->
    <div class="col-sm-12 col-md-4 col-lg-2">
        <ul class="links">
            <h4 class="text-heading"> Links </h4>
            <li class="text-lead">Search</li>
            <li class="text-lead">About Us</li>
            <li class="text-lead">Contact Us</li>
        </ul>
    </div>

    <!-- Help -->
    <div class="col-sm-12 col-md-4 col-lg-2">
        <ul class="help">
            <h4 class="text-heading"> Help </h4>
            <li class="text-lead">T&C</li>
            <li class="text-lead">FAQs</li>
        </ul>
    </div>

    <!-- Newsletter -->
    <div class="col-sm-12 col-md-12 col-lg-3">
      <h4 class="text-heading"> Want To reach us? </h4>
      <h2><a href="https://gmail.com"><i class="fas fa-envelope"></i></a></h2>
    </div>
  </div>

  <div class="col-12 text-center pb-1 nm-t">
    <p class="text-lead">
        Copyright © 2018 All rights reserved. | Made with &hearts; by <a href="#" target="_blank">OfferShopper</a>
    </p>
  </div>
</footer>
<!-- End of Footer-->